header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}

.logo {
  display: inline-block;
  height: 64px;
  width: 68px;
}

nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

.navigation-menu {
  margin-top: 24px;
}

ul{
  padding-left: 10%;
  list-style: none;
}

li{
  margin: 16px 0;
}

ul ,a {
  color: var(--text-secundary-color);
  text-decoration: none;
}